<header class="header">
  <div class="header__container container">

    <div class="header__inner">
      <a href="/" class="header__logo header-logo">
        <img src="/assets/svg/logo.svg" alt="Inox profile" class="header-logo__image">
      </a>
      <div class="header__right">
        <div class="header__number">
          <a href="tel:+78007557520">8 (800) 755-75-20</a>
        </div>
        <button type="button" class="header__button">
           Заказать звонок
        </button>
        <button class="header__hamburger" aria-label="меню">
          <img src="../assets/svg/burger.svg">
        </button>
      </div>
    </div>
  </div>
</header>

