<header class="header">
  <div class="container">

    <div class="header__inner">

      <img src="/src/assets/img/logo1.png" alt="logo" class="header__logo">
      <div class="header__right">
        <div class="header__number">
          <a href="tel:8 (800) 755-75-20">8 (800) 755-75-20
          </a>
        </div>
        <button class="header__button">
          <span> заказать звонок  </span>
        </button>
        <div class="header__hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="strip">
    </div>
  </div>
</header>
